
		</div> <!-- /END FLEX for site-content -->
			<div class="footer bc-footer">
				<div class="container">
					<div class="row text-center" style="padding-top:32px;">
						<p>CST336 Internet Programming. 2020&copy; Bernard, Bienz, Boyd, Solis <br>
						<strong>Disclaimer: </strong>The information in this webpage is fictitious.<br>
						</p>
					</div>
				</div>
			</div>
	</body>
</html>