<!DOCTYPE html>
<html>
<head>
	<title>The Brew Crew</title>
	<link href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/chris.js"></script>
	
</head>
	<body>
		<div class="site-content">
			<header>
				<nav class="nv-head navbar navbar-default">
					<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand nav-log" href="/"><img src="img/bc-logo.png"></a>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a class="header-nav-spacer" href="/">Home</a></li>
								<li><a class="header-nav-spacer" href="/menu">Menu</a></li>
								<!--<li><a class="header-nav-spacer" href="#">Shop</a></li>-->
								<!--<li><a class="header-nav-spacer" href="#">About</a></li>-->
							</ul>
		
						<ul class="nav navbar-nav navbar-right">
							<li id='adminLink'></li>
							<li><a href="/cart">Cart  <em class="fa fa-cart-plus"></em></a></li>
							<!--<li class='login'></li>-->
							<li id='loginLink'></li>
						</ul>
					  </div>
					</div>
				</nav>	
			</header>