<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Administrator Control Panel</title>
		<link href="css/app.css" rel="stylesheet">
	</head>
	<body>
		<section class="login-box">
			<h2 class="center-txt">Control Panel</h2>
			<hr>
			<div class="form-box-admin flex-admin">
				<div class="flex-share" style="width: 50%;">
					<h3>Modify the database</h3>
					<form>
						Select item by ID<br>
						<input type="text" name="uname" style="width: 250px;">
						<br><div id="item-search-msg"></div>
						<br><br>
						Update item price<br>
						<input type="text" name="uname" style="width: 250px;">
						<br><br>
						Update item stock<br>
						<input type="text" name="pword" style="width: 250px;">
						<br><br>
						<button>Commit changes</button>
					</form>
				</div>	
				<div class="form-reports-admin flex-share">
					<h3>Generate reports</h3>
					<br>
					<button style="width: 158px;">Open Orders</button>
					<br><br>
					<button style="width: 158px;">Recent Sales</button>
					<br><br>
					<button style="width: 158px;">Current Inventory</button>
				</div>
			</div>

		</section>
	</body>
</html>