<%- include('partials/header.ejs') %>

		<section class="login-box">
			<h2 class="center-txt">Control Panel</h2>
			<hr>
			<div class="form-box-admin flex-admin">
				<div class="flex-share" style="width: 50%;">
					<h3>Modify the database</h3>
					<form id="form-db-mod">
						Select item by ID<br>
						<input type="text" name="uname" id="sel-id" style="width: 250px;">
						<br><br><div id="found-item-name"></div>
						<div id="found-item-price"></div>
						<div id="found-item-qty"></div>
						<br><br>
						
						Update item price<br>
						<input type="text" name="price" style="width: 250px;">
						<br><br>
						Update item stock<br>
						<input type="text" name="stock" style="width: 250px;">
						<br><br>
						<button>Commit changes</button>
					</form>
					<br>
					<!-- Display information about success or failure of attempts to modify database -->
					<div id="mod-msg-info"></div>
				</div>	
				<div class="form-reports-admin flex-share">
					<h3>Generate reports</h3>
					<br>
					Report start date:<br>
					<input type="date" name="r-start-date"><br><br>
					Report end date:<br>
					<input type="date" name="r-end-date"><br><br>
					
					<label for="s-order">Report type:</label>
					<br>
					<select name="order-type" id="s-order">
						<option value="">Choose an option</option>
						<option value="open">Open orders</option>
						<option value="Recent">Recent sales</option>
						<option value="inventory">Current inventory</option>	
					</select>
					<br><br><br>
					<button>Generate report</button>
				</div>
			</div>

		</section>

<%- include('partials/footer.ejs') %>