<%- include('partials/header.ejs') %>
       
       <main>
            <div class="container">
                <div class="row-lg justify-content-lg-center">
                    <div class="col col-lg-5">
                        <h2>Order Confirmation</h2>
                        <br/>
                        <table class="table">
                            <tr>
                                <td><h4>Order #</h4></td>
                                <td><h4><%= orderId %></h4></td>
                            </tr>
                        </table>
                        </br>
                        <h3>Please give us approximately 30 minutes to have your order ready</h3>
                        <br/>
                        <h3>Thank You!</h3>
                    </div>
                </div>
            </div>
        </main>
       
<%- include('partials/footer.ejs') %>