<%- include('partials/header.ejs') %>
	<section class="top-cont">
		<div class="left-msg">
			<h1>FALL DRINKS ARE HERE</h1>
			<h4>Drift into a sea of rich flavor</h4>
			

		</div>
	</section>
<%- include('partials/footer.ejs') %>