<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Admin Log-In Page</title>
		<link href="css/app.css" rel="stylesheet">
	</head>
	<body>
		<section class="login-box">
			<h2 class="center-txt">Sign in to your account</h2>
			<hr>
			<div class="form-box">
				<h3>Enter your account details</h3>
				<form>
					User Name<br>
					<input type="text" name="uname" style="width: 250px;">
					<br>
					Password<br>
					<input type="password" name="pword" style="width: 250px;">
					<br><br>
					<button>Log In</button>
				</form>
			</div>

		</section>
	</body>
</html>