<%- include('partials/header.ejs') %>
        <h1 class='menu'>MENU</h1>
        <div class='flex-container' id='category-card-container'>
            <% categoryArray.forEach((category, i) => { %>
                    <a class='menu-category-card' href='#item-card-container'>
                        <div class='menu-category-card-body'>
                            <span class='menu-category-desc'><%= category.description %></span>
                        </div>
                        <!--<img class='menu-category-img' src='https://ipsumimage.appspot.com/80x80'>-->
                    </a>
            <% }); %>
            <div class='w-100'></div>
            <div class='menu-show-all'><a class='btn btn-default' href='#item-card-container'>Show All</a></div>
            
        </div>
        <div class='displaySelectedCategory'></div>
        <div class='flex-container' id='item-card-container'>
            
        </div>
<%- include('partials/footer.ejs') %>